<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="../../../../assets/imagens/{{ pensamento.modelo }}.png"/>
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <div class="botao-editar">
      <img src="../../../../assets/imagens/icone-editar.png" alt="Icone editar">
    </div>
    <div class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}">
      <img src="../../../../assets/imagens/icone-excluir.png" alt="Icone excluir">
    </div>

  </div>
</div>
